<form #f="ngForm" (ngSubmit)="onSubmit()">


  <div class="form-group">
    <label for="nome">Item</label>
    <input 
      class="form-control" 
      id="nome" 
      rows="3" 
      placeholder="nome" name="nome"
      #nome="ngModel" 
      [(ngModel)]="item.nome" 
      [class.is-invalid]="!nome.valid && nome.touched"
      required>
    <div *ngIf="!nome.valid && nome.touched" class="text-danger">
      digite o nome.
    </div>
  </div>

  <div class="form-group">
    <label for="valor">Valor</label>
    <input 
      class="form-control" 
      id="valor" 
      rows="3" 
      placeholder="e-mail" name="valor"
      #valor="ngModel" 
      [(ngModel)]="item.valor" 
      [class.is-invalid]="!valor.valid && valor.touched"
      required>
    <div *ngIf="!valor.valid && valor.touched" class="text-danger">
      digite o valor.
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Salvar</button>
</form>