<div class="container mt-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      
      <div class="text-right">
        <button type="button" class="btn btn-success" routerLink="/usuario/criar">Novo usuario</button>
      </div>
      <div class="text-center" *ngIf="!existemUsuarios()">
        Nenhum usuario cadastrado.
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngFor="let usuario of usuarios">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <span class="badge badge-pill" >
            Nome: {{usuario.nome}}
          </span>
        </div>
        <div class="card-body">
          <p class="card-text">E-mail: {{usuario.email}}</p>
        </div>
        <div class="card-footer">
          <div class="text-right">
            <button type="button" class="btn btn-primary btn-sm ml-1" routerLink="/usuario/editar/{{usuario.id}}">Editar</button>
            <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deletaUsuario(usuario.id)">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>